.labelForm{
    color: #E5E5E5;
    display: block;
    padding: 10px 0px 0px 10px;
    font-size: 12px;
    font-weight: 300;
}

.inputForm input, select, textarea{
    color: #E5E5E5;
    background-color: #53585D;
    border: none;
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    border-bottom: 2px solid #53585D;
    border-radius: 0 0 4px 4px;
    padding: 0 10px;
    outline: none;
}

.form_btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputForm input:focus {
    border-bottom:2px solid #2A7AE4;
   
}

.inputForm select:focus {
    border-bottom:2px solid #2A7AE4;
   
}

.inputForm textarea:focus {
    border-bottom: 0;
    border-bottom:2px solid #2A7AE4;
   
}

.mensajeForm{
    color:#E53935;
    font-size: 16px;
    font-weight: 300;
    padding: 0 10px;
}
.formContenido
{
    max-width: 840px;
    margin: 0 auto;
}
.tituloFormulario
{
    color: #F5F5F5;
    font-size: 40px;
    font-weight: 400;
    line-height: 70px;
    text-align: center;
}

.botonera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 150px;
}

.botonera .botones {
    margin-top: 0px;
}
.botones{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    
}