.banner
{
    background-color: #000000;
    background-image: url('../../img/FondoBanner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
   
}

.bannerContenido
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 800px;
    max-width: 1440px;
    margin: 0 auto;
}
.contenidoLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}
.categoria
{
    display: inline-block;
    background-color: #6BD1FF;
    color: #F5F5F5;
    font-size: 60px;
    font-weight: 400;
    width: 296px;
    height: 92;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 30px;
}
.categoriaTitulo
{
    color: #F5F5F5;
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 5px;
}
.categoriaDescripcion
{
    color: #F5F5F5;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
}
.contenidoRight{
   align-items: end;
}
a .video{
    cursor: pointer;
}
.video img{
    max-width: 100%;
    transition: .3s ease-in-out;
}
.video img:hover{
    transform: scale(1.05);
}